#ouvre label{
  color: black;
  font-weight: bold;
  /* margin: 8px 0 !important; */
  padding: 6px 0;
}

.ele{
    border-bottom: 1px solid gray;
    padding: 7px 1px;
    color: rgb(84, 83, 83);
}

#ferme{
    opacity: 0;
   scale: .9;
   transition: .2s linear;
}
#ouvre{
    transition:.2s linear;
    opacity: 1;
    scale: 1;
  /* height:100vh; */
}