.preloader{
  width:100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: felix 2s linear infinite;
}
.preloader img{
  border: 2px solid rgb(46, 108, 74) ;
  padding: 10px;
}
.preloader span:nth-child(1){
color:rgb(46, 108, 74)  ;
}
.preloader span:nth-child(2){
  color: rgb(2, 63, 137);
}
@keyframes felix {
  0%{scale: 1;
    rotate: 30%;}
  50%{scale: .7;
    opacity: 0.1;}
  100%{scale: 1;}
  
}
